[submodule "zsh-navigation-tools"]
	path = zsh-navigation-tools
	url = https://github.com/z-shell/zsh-navigation-tools.git
[submodule "fast-syntax-highlighting"]
	path = fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "F-Sy-H"]
	path = F-Sy-H
	url = https://github.com/z-shell/F-Sy-H
